@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'lato',sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    

}
body{
    height: 2500px;
}

/* hero-section starts here */
header{
    background: white;
    border: 0.5px solid rgb(5, 102, 81);;
    height: 600px;
    /* display: flex; */
}
.nav-bar.sticky{
    background: #120683;
    padding: 20px 100px;
}


.main{
    position: relative;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
}
.content{
    padding: 95px 9%;
   
}
.content h3{
    text-transform:uppercase;
    color: rgb(5, 102, 81);
    font-size: 18px;
    font-weight: 600;
}
.content h1{
    font-size: 55px;
    font-weight: 120px;
    color: rgb(5, 2, 49);
}
.content p{
    /* font-size: 20px; */
    color: rgb(5, 2, 49);
    font-weight: 600;
    
}
.content button{
    padding: 10px 30px;
    margin-top: 20px;
    font-size: 15px;
    color: white;
    font-weight: 700;
    background-color:rgb(5, 102, 81);
    border-radius: 40px;
    border:2px solid white;
    
}
.content button:hover{
    background-color: transparent;
    border:2px solid rgb(5, 102, 81);
    color: rgb(5, 102, 81);;
}
.triangle-down-right{
    width: 30%;
    position: absolute;
    height: 400px;
    /* border-bottom: 500px solid rgb(5, 102, 81); */
    border-left: 700px solid transparent;
    border-bottom:500px solid rgb(5, 102, 81);
    right: 0;
    /* position: absolute; */
    top: 7%;
}
.images{
    position: absolute;
    height: 300px;
    width: 80%;
    padding-left:30%;
    /* padding-bottom:100px; */
    top: 5%;
    right: 0%;
}
.images img{
    height: 500px;
    width: 80%;
    
}


/* hero-section ends here */


/* nav-section starts here */
.nav-bar{
    /* border: 2px solid purple; */
    display: flex;
    align-items: center;
    padding: 10px 70px;
    justify-content: space-between;


}
.logo{
    padding: 10px 40px;
    font-size: 20px;
    font-weight:700;
    color: #000;
}
.logo i{
    color: rgb(5, 102, 81);
}
.nav-section ul {
    list-style: none;
    text-align: center;
    margin: 0 70px;
    display: flex;
    
}
.nav-section ul li{
    padding: 10px 15px;
     font-weight: 700;
     /* text-align:center; */
     color: #000;
    
}
.nav-section li:hover{
    background: rgb(5, 102, 81);
    color: white;
    border-radius:5px;
    transition: 1s;

}
.nav-section a{
    text-align: center;
    padding:10px 0;
}


/* nav-section ends here */




/* about-section starts here */
#about-section{
    
    /* border: 2px solid blue; */
    /* padding-top: 270px; */
    width:100%;

}
.about-container{
    /* border: 3px solid black; */
    /* position:absolute; */
    /* padding-top: 5%; */
    height: 500px;
    width: 100%;
    background: url("./img/1842325.jpg");
    background-position: center;
    background-size: cover;

}
.about-content{
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 40px 0;
    
    
}
.about-content:after{
    content: '';
    /* top:30px; */
    /* left: 30%; */
    height: 3px;
    width: 5%;
    background-color: white;
    position: absolute;
    transform: translateX(-40%);
}
.section{
    /* border: 2px solid brown; */
    display: flex;
    /* height: 300px; */
    /* width: 100%; */
    align-items: center;
    background: white;
    border-radius: 15px;
    border-top: 6px solid rgb(5, 102, 81);
    margin: 0 14%;
    /* padding: 0 15%; */
}
.about-img img{
    width: 100%;
    height: 200px;  
    padding: 0 10px;
    transition: 0.5s;
}
.about-imgs img{
    width: 100%;
    height: 240px;  
    padding: 0 10px;
    transition: 0.5s;
}
.about-img img:hover{
    transform: translateY(-10px);

}
.about-imgs img:hover{
    transform: translateY(-10px);

}
.about-img h4{
    color: rgb(5, 2, 49);
    /* padding-top: 30px; */
    text-align: center;
}
.about-img p{
    text-align: center;
    /* padding-bottom: 30px; */
    font-weight: 600;
    color:rgb(5, 102, 81) ;
}

/* about-section ends here */


/* shop-section starts here */
.shop-section{
    /* border: 2px solid aqua; */
    width: 100%;
}
.shop-content{
    /* border: 2px solid black; */
    text-align: center;
    font-size:18px;
    color: rgb(5, 2, 49);
    padding-top: 30px;
}
.shop-content p{
    font-weight: 600;
}
.shop-content h2{
    font-size:30px;
    font-weight: 700;
    color: rgb(5, 2, 49);
}
.shop-item{
    /* border: 2px solid yellow; */
    display: flex;
    padding: 20px 9%;
}
.shop-items{
    display: flex;
    padding: 0 9%;
}
.shop-img img{
    /* border: 1px solid rgb(5, 102, 81); */
    padding: 10px 5%;
    width: 100%;
    border-radius: 5%;
    height: 300px;
}
.shop-img img:hover{
    transform:scale(1.1);
    transition:0.5s;
}
.shop-img h4{
    font-size: 12px;
    padding: 0 30px;
    font-weight: 700;
    color: rgb(3, 1, 34);
}
.tag{
    box-shadow:0 4px 4px  rgb(14 55 54 / 15%);
    /* border-radius: 15px; */
    
}
.tag-1{
    display: flex;
    justify-content: space-between;
}
.tag p{
    color: rgb(5, 102, 81);
    font-weight: 600;
    padding: 0 30px;
}
.tag i{
    margin-right: 50px;
    background:rgb(5, 102, 81) ;
    padding: 3px 5px;
    color: white;
    /* border-radius: 2px; */
    
    
}
.tag i:hover{
    background: rgb(5, 2, 49);
    /* border: 1px solid rgb(5, 102, 81); */
    color: white;

}

/* shop-section ends here */

.customer-container{
    /* padding: 20px 9%;  */

}
.customer{
    /* padding: 20px 9%; */
    width:100%;
    background-color: whitesmoke;
    /* margin: 13px 120px; */
    /* height:500px; */
}
.customer-content{
    text-align:center;
    padding:10px 0;
    font-weight: 700;
    color: rgb(5, 2, 49);
}
.customer-content h1{
    color: rgb(5, 2, 49);
    font-size: 30px;
    font-weight: 700;
    padding-top: 50px;
}
.customer-content p{
    padding-bottom: 15px;
}
.customer-index{
    height: 400px;
    /* border: 3px solid rebeccapurple; */
    /* background-color: whitesmoke; */
    display: flex;
    flex: 1 1 25rem;
    padding: 0 9%;
}
.customer-img{
   
    padding-top:30px;
    /* box-shadow: 0 4px 4px  rgb(14 55 54 / 15%); */
    height:300px;
    width:80%;

}
.customer-img img{
    margin: 0 120px;
    border: 3px solid black;
    border-radius:60%;
    height:80px;
    width:25%;
    background-size:cover;
    object-position: center;
}
.customer-img p{
    padding: 10px 33%;
    color: rgb(5, 102, 81);
    
}
.customer-img h4{
    /* width: 80%; */
    padding: 10px 10px;
    line-height: 1.4;
    text-align: center;
}
.customer-img h3{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: rgb(5, 102, 81);
}

/* customer-section ends here */


/* contact-section starts here */

.contact{
    height: 480px;
    /* background: #191919; */
    
}
.contact-container{
    text-align:center;
    /* color: rgb(5, 102, 81); */
    padding: 30px 0;
    font-weight: 700;
}
.contact-container h2{
    color: rgb(5, 2, 49);
    font-size: 30px;
}
.Row{
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
}
.contact-left{
    /* border: 2px solid blue; */
    padding: 40px 5%;
    /* flex-basis: 35%; */

}
/* .contact-left p{ */
    /* border: 2px solid black; */
    /* padding-left: 10px; */
    /* color: #000; */
/* } */
.contact-right{
    flex-basis:50%;
}
.contact-left h1{
    color:rgb(5, 2, 49);
    /* padding:30px 0; */
    /* font-size:40px; */
    margin-right:7%;
}

.contact-left p{
    /* border:3px solid blue; */
    color: #000;
    padding: 10px 0;
    margin-top:20px;

}
.contact-left  i{
    /* border: 3px solid red; */
    color:rgb(5, 102, 81);
    margin-right:15px;
    padding-bottom:30px;
    font-size:20px;

}

.social{
    /* border: 3px solid beige; */
    display: flex;
 }
 .social li{
    list-style: none;
    /* margin-right: 10px; */
 }
 .social a{
    margin-right:15px;
    right: 10%;
    padding:18px 0;
    /* display:inline-block; */
    color: rgb(5, 102, 81);
    text-decoration: none;
    font-size: 20px;
    transition:transform 0.5s;

 }
.social a:hover{
    color: #000;
    transform:translateY(-5px);
}  
.contact-right form{
    width:100%;
    padding: 30px 0;
}
form input, form textarea{
    width:90%;
    border:0;
    outline:none;
    border: 2px solid rgb(5, 102, 81);
    /* background:#262626; */
    padding:15px;
    margin:15px 0;
    color:#fff;
    font-size:18px;
    border-radius:6px;
}
.btn2{
    height:40px;
    width:20%;
    border:none;
    color:#fff;
    /* display:inline-block; */
    background:rgb(5, 102, 81);
    border-radius: 40px;
    padding:10px 20px;
    font-size:18px;
    margin-top:20px;
    /* text-align: center; */
    cursor:pointer;
}
.btn2:hover{
    background: transparent;
    color: rgb(5, 102, 81);
    border:3px solid rgb(5, 102, 81);
    /* transition: all 2s ease; */
}

/* contact-section ends here */

